<% layout('layout/boilerplate') %>

<div class="container details" id="details" style="height: auto; max-width: 100%; padding: 70px;">
    <h1 class="details-title">Animal Details</h1>
    <div class="row details-cont">
        <div class="col-lg-6 info-container">
            <div class="species-header">
                <h2 class="species" >Species: <%= rescue.species %></h2>
                <% if(rescue.active){ %>
                    <span class="btn btn-sm btn-danger">Active</span>        
                <% } else {%>
                    <span class="btn btn-sm btn-success">Rescued</span>
                <% } %>
            </div>
            <p class="severe font-small dark-grey">Severity:  <span style="<%= rescue.severe>3 ? 'border: 2px solid rgba(157, 2, 8);' : 'border: 2px solid rgba(255, 190, 11);' %>"><%= rescue.severe %></span></p>
            <p class="locality dark-grey font-small">Location: <%= rescue.locality %></p>
            <p class="description light-grey" id="animals-details-des"><%= rescue.description %></p>
            <p class="identification dark-grey font-small">Identification: <%= rescue.identification %></p>
            <p class="callercontact dark-grey font-small">Caller contact: <%= rescue.callerContact %></p>
            <div class="links">
                <% if(rescue.active) {%>
                    <a class="btn btn-danger" id="toggle">Rescue Animal</a>
                    <div class="check-form hidden" id="confirmBox">
                        <form action="/rescue/<%= rescue._id %>/confirmRescue" novalidate>
                            <input type="checkbox" id="isSure" name="isSure" value="yes">
                            <label class="dark-grey checkLabel" for="isSure">Are you sure? After submitting, it is your responsibilty to rescue the animal on time and take proper care!</label>
                            <button class="btn btn-sm btn-success" id="submitButton" style="display: block;" disabled>Confirm Rescue</button>
                        </form> 
                    </div>
                <% } %>

            </div>
            <a class="back font-small" href="/rescue/animals"><i class="bi bi-arrow-left"></i> Go back</a>
        </div>
        <div class="col-lg-6 image-details">
            <div id="rescueCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% if(rescue.images.length>=1) {%>
                        <% rescue.images.forEach((img,i) => { %>
                            <div class="carousel-item <%= i===0 ? 'active':'' %>">
                                <img src="<%= img.url %>" class="d-block" id="animals-details-img" style="max-height: 300px;" alt="injured animal">
                            </div>
                        <% }) %>
                    <% } else {%>
                        <div class="img-fluid">
                            <img src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" class="d-block" id="animals-details-img" style="max-height: 300px;" alt="no image">
                        </div>
                    <% } %>
                </div>
                <% if(rescue.images.length > 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#rescueCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#rescueCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                <% } %>
            </div>
        </div>
    </div>
</div>